<div class="row needs">

    <div class="row">
        <ul class="poll-list">
            <li ng-repeat="poll in pollsPerCategory">
                <div class="pl-item" ng-click="goToProdCat(poll.id)">
                    <i class="icn pull-left" ng-class="{'fashion':poll.id===1,'travel':poll.id===2,'technology':poll.id===3,'fd':poll.id===4}"></i>
                    <span class="col-xs-7 pli-text">{{poll.title}}</span>
                    <span class="col-xs-2 pull-right pli-text">{{poll.total}}</span>
                </div>
            </li>
        </ul>
    </div>

</div>