<div class="row">
    <img class="img img-responsive" src="../../../Content/index/images/logotypo_arxikh_bar.png" />
    <div class="row" style ="width: 80%; margin: 0 auto;">
        <input class="col-xs-12" type="text" ng-model="user.email" placeholder="Email"/>
        <br/>
        <input class="col-xs-12" type="password" ng-model="user.pass" placeholder="Password"/>
        <br/>
        <a class="col-xs-12 text-center" ng-click="login()">Login</a>
    </div>
    <div class="row text-center" style="width: 70%;margin: 0 auto;">
        <img class="img img-responsive" src="../../../Content/social.PNG" style="width: 100%"/>

    </div>
</div>